//

.container {
  display: flex;
  align-items: flex-start;
  // flex-wrap: wrap;
  // align-content: flex-start;
  // align-content: flex-end;
  // align-content: center;
  // align-content: space-between;
  // align-content: space-around;
  // align-content: space-evenly;

  // gap: 1rem;

  border: 0.5rem solid mistyrose;
  min-height: 100vh;
  // height: 100vh;
}
