//

.container {
  display: flex;
  //   display: inline-flex;
  flex-direction: row; // default
  // flex-direction: row-reverse;
  flex-direction: column;
  // flex-direction: column-reverse;

  border: 0.5rem solid goldenrod;
  min-height: 100vh;
}
